#slides {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    position: relative;
}
 
#back-button {
 	position: absolute;
 	top: 50%;
 	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
 	transform: translateY(-50%);
 	font-size: 30pt;
 	left: 0;
 	content: '\003C';
 	z-index: 1;
 }

#forward-button {
 	position: absolute;
 	top: 50%;
 	-webkit-transform: translateY(-50%);
 	-ms-transform: translateY(-50%);
 	transform: translateY(-50%);
 	font-size: 30pt;
 	right: 0;
 	content: '\003E';
 	z-index: 1;
 }
 
.image {
    height: 100%;
    width: 100%;
    z-index: 0;
    display: none;

}

.active {
	display: visible;
	height: 100%;
	width: 100%;
}

