// bower:scss
// endbower
body {
  background-color: #aa32bd;
}

header {

    color: white;
    text-align: center;

    h1 {
      font-size: 24pt;
    }

    h2 {
      font-size: 18pt;
    }
  
}

.description {
  color: white;
  margin-top: 50px;
}

