body {
  background-color: #aa32bd; }

header {
  color: white;
  text-align: center; }
  header h1 {
    font-size: 24pt; }
  header h2 {
    font-size: 18pt; }

.description {
  color: white;
  margin-top: 50px;
  font-family: 'Helvetica', 'sans-serif';
  text-align: center;
  font-size: 24pt; }
  .description p {
    margin-bottom: 25px; }

.instructions {
  background-color: white;
  color: black; }
